body {
  padding-inline: 37vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1.header__heading {
  font-variant: small-caps;
  text-transform: capitalize;
  text-align: center;
  color: rgb(53, 52, 52);
}

/* main element and child components */

main {
  border: 1px solid rgba(175, 175, 175, 0.486);
  border-radius: 12px;
}

.main__footer {
  padding-inline: 7rem;
}

.main__hr--bottom {
  height: 0.25em !important;
  border: 1px solid rgb(53, 51, 51);
  border-radius: 1em;
  background-color: rgb(41, 40, 40) !important;
}

/* nav elements and components */
/*  0. parent nav-bar (main)
    1. top nav-bar
    2. bottom nav-bar
*/

nav.nav-main {
  padding-inline: 1em 0.9em;
  padding-bottom: 0.2em;
  border-radius: inherit;
  background-image: url("img/virus-earth.jpg");
  background-size: contain;
}

.nav-top,
.nav-bottom {
  padding: 0.4em 0;
}

.nav-top__icon-list {
  float: right;
  position: relative;
  top: -1em;
  list-style-type: none;
}

.nav-top__device-time {
  font-size: x-small;
  font-weight: 600;
  position: relative;
  left: 6px;
}

.nav-top__icon-item {
  margin-inline-start: 0.2em;
  display: inline;
}

.nav-bottom__icon-item {
  display: inline;
}

.nav-bottom__menu-icon {
  position: relative;
  left: 0.5em;
  border-radius: 5px;
}

.nav-bottom__user_profile {
  float: right;
  position: relative;
  right: -6.8em;
}

img.nav-bottom__user-icon {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

p.user--greeting {
  display: contents;
  margin-block: 0em;
  font-size: smaller;
}

h2.user--enquiry {
  margin-block: 0.4em;
  font-size: medium;
}
