body{
    padding-inline: 35vw;
}

h1.header__heading {
    font-variant: small-caps;
    text-transform: capitalize;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main{
    border: 1px solid grey;
    padding-inline: 1.2em;
    border-radius: 12px;
}

.main__footer{
    padding-inline: 7rem;
}

.main__hr--bottom {
    height: .2em;
    border: 1px solid rgb(53, 51, 51);
    border-radius: 16px;
    background-color: rgb(36, 35, 35);
}