body {
  padding-inline: 37vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* HEADINGS */

h1.header__heading {
  font-variant: small-caps;
  text-transform: capitalize;
  text-align: center;
  color: rgb(53, 52, 52);
}

.appointments__h3,
.specialties__h3 {
  font-size: medium;
  text-align: justify;
  color: rgba(23, 126, 23, 0.712);
  text-transform: capitalize;
}

/* main element and child components */

main {
  border: 1px solid rgba(175, 175, 175, 0.486);
  border-radius: 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.main__footer {
  padding-inline: 7rem;
}

.main__hr--bottom {
  height: 0.25em !important;
  border: 1px solid rgb(53, 51, 51);
  border-radius: 1em;
  background-color: rgb(41, 40, 40) !important;
}

/* nav elements and components */
/*  0. parent nav-bar (main)
    1. top nav-bar
    2. bottom nav-bar
*/

nav.nav-main {
  padding-inline: 1em 0.9em;
  padding-bottom: 0.2em;
  border-radius: inherit;
  background: linear-gradient(
      0deg,
      rgba(134, 213, 112, 0),
      rgba(78, 227, 101, 0.51)
    ),
    url("img/virus-earth.jpg");
  background-size: cover;
  background-blend-mode: multiply;
}

nav.nav-main #overlay {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 0, 150, 0.3),
    rgba(255, 0, 150, 0.3)
  );
  z-index: 999;
  cursor: pointer;
}

.nav-top,
.nav-bottom {
  padding: 0.4em 0;
}

.nav-top__icon-list {
  float: right;
  position: relative;
  top: -1em;
  list-style-type: none;
}

.nav-top__device-time {
  font-size: x-small;
  font-weight: 600;
  position: relative;
  left: 6px;
}

.nav-top__icon-item {
  margin-inline-start: 0.2em;
  display: inline;
}

.nav-bottom__icon-item {
  display: inline;
}

.nav-bottom__menu-icon {
  position: relative;
  left: 0.5em;
  border-radius: 5px;
}

.nav-bottom__user_profile {
  float: right;
  position: relative;
  right: -6.8em;
}

img.nav-bottom__user-icon {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

p.user--greeting {
  display: contents;
  margin-block: 0em;
  font-size: smaller;
  color: rgb(53, 51, 51);
}

h2.user--enquiry {
  margin-block: 0.4em;
  font-size: medium;
  color: rgba(39, 38, 38, 0.774);
}

/* upcoming appointments */

section.appointments,
section.specialties {
  padding-inline: 0.8em;
}

.appointments__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 0.2em 0.5em 0.6em;
  border-radius: 7px;
}

/* profile of person been scheduled */

.appointment__profile-img {
  float: left;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 1px;
  border: 1px solid rgba(221, 221, 221, 0.671);
}

.appointment__profile {
  list-style-type: none;
  font-size: small;
  margin-inline-start: 1.5em;
}

li.appointment__profile-item {
  line-height: 1.4em;
  vertical-align: top;
}

li.appointment__profile-item.name {
  font-weight: 600;
}

li.appointment__profile-item.role,
li.appointment__profile-item.level {
  color: rgba(101, 102, 101, 0.678);
  font-weight: 400;
}

/* appointment schedule details and actions */

.appointment__schedule span {
  display: block;
  text-align-last: right;
}

.schedule__actions {
  margin-block: 0.3em;
}

.schedule__actions i {
  font-size: 0.8rem;
  color: rgba(23, 126, 23, 0.712);
}

.schedule__date {
  color: rgba(48, 49, 48, 0.952);
  font-weight: 500;
  font-size: smaller;
}

.schedule__time {
  font-weight: 700;
  font-size: x-small;
  letter-spacing: 0.2px;
}

/* SPECIALTIES SECTION */

.specialties__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 0.6em 0.5em 0.1em;
  margin-inline-start: 0.6em;
  border-radius: 7px;
  display: inline-block;
  min-width: 4vw;
}

.specialty__icon {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  padding: 0.3em;
  color: rgba(248, 248, 248, 0.904) !important;
  background-color: rgba(9, 148, 9, 0.555);
  display: block;
  margin-inline: auto;
}

.specialty__tag {
  font-size: x-small;
  font-weight: bold;
}
